@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {

  animation: fadeUp 0.4s ease-out forwards;
  
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(147, 51, 234, 0.7); /* purple-600 */
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(147, 51, 234, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(147, 51, 234, 0);
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s infinite;
}
