version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: nexgen-backend-dev
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CLIENT_URL=http://localhost:5173
      - NODE_ENV=development
     
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    networks:
      - nexgen-network
    volumes:
      - ./backend:/app
      - /app/node_modules 
    command: npm run dev

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: nexgen-client-dev
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true 
    depends_on:
      - backend
    networks:
      - nexgen-network
    volumes:
      - ./client:/app
      - /app/node_modules

  redis:
    image: redis:latest
    container_name: nexgen-redis
    ports:
      - "6380:6379" 
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - nexgen-network

volumes:
  redis-data:

networks:
  nexgen-network:
    driver: bridge
